.navbar-brand img {
  position: relative;
  bottom: 19px;
  height: 50px;
  width: 90px; }

@media (max-width: 767px) {
  #myCarousel {
    display: none; } }

@media (max-width: 767px) {
  .navbar-wrapper {
    position: relative !important; } }

.item {
  width: auto;
  height: auto; }
  .item .carousel-caption h1, .item .carousel-caption p {
    background-color: rgba(64, 64, 64, 0.5); }
