$black: rgba(64, 64, 64, 0.5);
$md-break : 767px;

.navbar-brand {
    img{
        position: relative;
        bottom: 19px;
        height: 50px;
        width: 90px;
    }
}



#myCarousel{
    @media (max-width: $md-break){
        display: none;
    }
}


.navbar-wrapper{
    @media (max-width: $md-break){
        position: relative !important;
    }
}


.item{

    width:auto;
    height: auto;

    .carousel-caption {
        h1,p{
            background-color: $black;
        }
    }
}